[Unit]
Description=Tako PAM session socket

[Socket]
ListenStream=/run/tako/session.sock
DirectoryMode=0750
SocketUser=root
SocketGroup=tako-session
SocketMode=0660
RemoveOnStop=true

[Install]
WantedBy=sockets.target
